:root {
  --primary: #226ba3;
  --secondary: #627e75;
  --accent: #e9c429;
  --error: #913639;
  --neutral: #d2a985;
}

body {
  background-color: var(--secondary) !important;
  color: #333;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg-primary {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--black) !important;
}

.btn-primary:hover {
  background-color: #1a5582 !important;
  border-color: #00060a !important;
}

.card {
  border: 1px solid var(--neutral) !important;
  background-color: #fff !important;
  border-radius: 8px;
}

.text-accent {
  color: var(--accent) !important;
}

.text-error {
  color: var(--error) !important;
}

.text-neutral {
  color: var(--neutral) !important;
}

.text-neutral:hover {
  color: var(--accent) !important;
}

.form-control {
  border-color: var(--neutral) !important;
}

.form-control:focus {
  border-color: var(--primary) !important;
  box-shadow: 0 0 0 0.2rem rgba(34, 107, 163, 0.25);
}
